KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=change-me

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me

KEYCLOAK_SERVER_URL=http://localhost:8082
KEYCLOAK_REALM=shopper
KEYCLOAK_CLIENT_ID=authentication-service
AUTH_SERVICE_CLIENT_SECRET=change-me

USER_SERVICE_URL=http://localhost:8080

HTTP_CONNECT_TIMEOUT=3s
HTTP_READ_TIMEOUT=10s

KEYCLOAK_DB_VENDOR=postgres
KEYCLOAK_DB_URL=jdbc:postgresql://keycloak-db:5432/keycloak
